.message-list {
    height: 75vh;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    scroll-behavior: smooth;  
  }
  
  .message-item {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 20px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .message-details{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 12px;
    color: #555;
  }
  .message-item.sent {
    background-color: #0078ff;
    color: white;
    align-self: flex-end;
  }
  
  .message-item.received {
    background-color: #e4e6eb;
    color: black;
    align-self: flex-start;
  }
  
  .message-item p {
    margin: 0;
    font-size: 14px;
  }
  
  .message-item small {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
  }
  
  .message-item.sent small {
    color: white;
  }
  
  .message-item.received small {
    color: #555;
  }
  
  .loading {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #555;
  }
  